.searchbox {
    text-align: center;
    height: 100px;
    background-color: burlywood;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }
  
  .book-list {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .book-item {
    border: 2px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.969);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
  }
  
  .book-item img {
    max-width: 100%;
    height: 250px;
    border: none;
  }
  
  .book-title {
    font-size: 14px;
    position: absolute;
    top: 50%; /* Center vertically */
    left:40px;
    right: 0;
    transform: translate(0, -50%); /* Center text vertically */
    max-width: 60%;
    text-align: center; /* Center horizontally */
  }
  
  input {
    border: 2px solid rgb(7, 232, 7);
    height: 30px;
    width: 350px;
    border-radius: 10px;
  }
  
  img {
    position: relative;
  }
  